<div class="header-margin"></div>
<h1 id="logo">Kinofy</h1>
<h3 id="subtitle">Find the right Movie Soundtrack</h3>
<div id="login-wrapper">
    <p ng-if="error" class="error">{{error.message}}</p>
    <form id="login-form" ng-submit="login(user)">
        <input ng-model="user.email" type="text" placeholder="Email..." focus-me="true" class="form-control"/>
        <input ng-model="user.password" type="password" placeholder="Password..." class="form-control"/>
        <button  type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>Don't have an account yet? Register <a ng-href="/#!/register">here</a>.</p>
</div>