<div id="wrapper">
    <p ng-if="error" class="error">{{error.message}}</p>
    <form ng-submit="search(query)" id="search-form" class="form-inline">
        <input ng-model="query" type="text" size="50" placeholder="Enter a movie title..." id="search-field"
               focus-me="true" class="form-control"/>
        <button type="submit" class="btn btn-primary" id="go-button">Go</button>
        <button type="button" ng-click="logout()" class="btn btn-danger" id="logout">Logout</button>
    </form>
    <div ng-if="results.movie" id="movie-wrapper">
        <div id="movie" class="col-md-6">
            <div ng-if="results.movie.Poster !== 'N/A'" id="poster"><img ng-src="{{results.movie.Poster}}"/></div>
            <div id="movie-info">
                <h2>{{results.movie.Title}}</h2>
                <p>Year: {{results.movie.Year}}</p>
                <p>Runtime: {{results.movie.Runtime}}</p>
                <p>Director: {{results.movie.Director}}</p>
                <p>Actors: {{results.movie.Actors}}</p>
                <p>Genre: {{results.movie.Genre}}</p>
                <p>IMDb Rating: {{results.movie.imdbRating}}</p>
                <p>Metascore: {{results.movie.Metascore}}</p>
                <p id="plot">{{results.movie.Plot}}</p>
            </div>
        </div>
        <div ng-if="results.soundtracks" id="albums" class="col-md-6">
            <h2>Soundtracks</h2>
            <p ng-repeat="album in results.soundtracks.albums.items"><img ng-src="{{album.images[2].url}}"/>
                <a ng-href="{{album.external_urls.spotify}}" target="_blank">{{album.name}}</a>
            </p>
        </div>
    </div>
</div>