<div ng-if="currentUser">
    <p>User: {{currentUser.email}}</p>
    <button ng-click="logout()">Logout</button>
</div>
<form ng-submit="search(query)">
    <input ng-model="query" type="text" size="50" placeholder="Enter a movie title..." id="search-field" focus-me="true"/>
    <button>Go</button>
</form>
<div>{{results.movie.Title}}</div>
<div><img src="{{results.movie.Poster}}"/></div>
<hr/>
<div ng-repeat="album in results.soundtracks.albums.items">
    <p><img ng-src="{{album.images[2].url}}"/>{{album.name}}</p>
</div>