html,
body {
    font-family: sans-serif;
    color: white;
    background-image: url("../img/kinofy_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 98%;
}

#logo {
    text-align: center;
    padding: 1em 1em 0 1em;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 4em;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

#movie-wrapper {
    background-color: black;
    margin-top: 3em;
}

#movie {
    padding: 5em 0;
}

#poster {
    float: left;
}

#poster img {
    margin: 6.5em auto 0 auto;
    padding-bottom: 6.5em;
    display: block;
}

.no-movie {
    margin-left: 5em;
}

#albums {
    padding: 5em;
}

#albums img {
    margin-right: 1em;
}

#search-form {
    margin: 0 auto;
    text-align: center;
    color: black;
}
#search-field {
    font-size: 1.3em;
    padding-bottom: 0.3em;
}

#login-wrapper {
    width: 25em;
    margin: 0 auto;
    text-align: center;
}

#login-wrapper form + p {
    margin-top: 1.2em;
}

#login-form {
    color: black;
}

#login-wrapper a {
    color: dodgerblue;
}

.error {
    color: white;
    text-align: center;
    font-weight: bold;
}

.form-control {
    margin: 1em;
}

#register-wrapper {
    width: 25em;
    margin: 0 auto;
    text-align: center;
}

#register-wrapper form a {
    color: white;
    margin-left: 1em;
}

#subtitle {
    margin: 0 auto 1em auto;
    text-align: center;
}

@media screen and (max-width: 1650px) {
    #movie-info {
    clear: left
}
    #logo {
        font-size: 3em;
    }
}

@media screen and (max-width: 1300px) {
    #poster {
        margin-right: 5em;
    }
}

#search-form {
    text-align: center;
}

#search-field {
    width: 20em;
    margin: 0 auto
}

#go-button {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.favorite-button {
    font-size: 0.75em;
    float: right;
}