html,
body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

#logo {
    text-align: center;
    padding: 1em 1em 0 1em;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 4em;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    height: 50em;
}

#movie {
    padding: 5em;
}

#poster img {
    width: 100%
}

#albums {
    padding: 5em;
}

#albums img {
    margin-right: 1em;
}

#poster {
    float: left;
    margin-right: 2em;
}

#search-form {
    margin: 0 auto;
    text-align: center;
    color: black;
}
#search-field {
    font-size: 1.30em;
    padding-bottom: 0.3em;
}

#logout {
    margin-left: 1em;
}


#login-wrapper {
    width: 25em;
    margin: 0 auto;
    text-align: center;
}

#login-wrapper form + p {
    margin-top: 1.2em;
}

#login-form {
    color: black;
}

#login-wrapper a {
    color: dodgerblue;
}

.error {
    color: red;
}

.form-control {
    margin: 1em;
}

#register-wrapper {
    width: 25em;
    margin: 0 auto;
    text-align: center;
}

#register-wrapper form a {
    color: white;
    margin-left: 1em;
}

#subtitle {
    margin: 0 auto 2em auto;
    text-align: center;
}